:root{
    --mainColor
}
.link-ar{
    color: #b2b1b1;
    border:2px solid transparent;
    border-radius:20px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left, #fd00da,#19d7f8);
    background-origin:border-box;
    background-clip:content-box,border-box;
    transition: all .2s ease-in-out;
}

.menu ul li{
    list-style: none;
    position: relative;
    margin: 0 10px;
    width: 180px;
    cursor:pointer;
    border:2px solid transparent;
    border-radius: 40px;
    background-image: linear-gradient(#343a40,#343a40),linear-gradient(to right, #006175 0%,#00a950 100%);
    background-origin:border-box;
    background-clip:content-box,border-box;
    text-align: center;
}

/*.active{
    color:blue !important;
    border:2px solid transparent;
    background-image: linear-gradient(#343a40,#343a40),radial-gradient(circle at top left, #fd00da,#19d7f8);
    background-origin:border-box;
    background-clip:content-box,border-box;
}*/
@media screen and (max-width:992px){
    .menu ul li{
    list-style: none;
    margin: 10px 150px;
    color: #b2b1b1;
    cursor:pointer;
    border:2px solid transparent;
    background-image: linear-gradient(#292b2c,#292b2c),radial-gradient(circle at top left, #fd00da,#19d7f8);
    background-origin:border-box;
    background-clip:content-box,border-box;
    transition: all .2s ease-in-out;
    text-align: center;
    }
    .heading-text{
    letter-spacing: 2.5px !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 40px !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    display:block !important;
    text-align: center !important;
    }
   .img-new{
       display:block !important;
       margin-left:33vw !important;
       width:30vw !important;
    }
    .subtext{
    margin: 180px auto !important;
    text-align: center !important;
    font-size: 22px;
}

}
.menu ul li:hover{
    background-image: linear-gradient(to right, #006175 0%,#00a950 100%),linear-gradient(to right, #006175 0%,#00a950 100%);
    text-decoration: none;
    text-decoration-color: none;
}
}
.menu ul li a span{
    display:block;
    align-items: center;
    color: #19d7f8;
}


.dark-blue-obj{
    background: #292b2c;
}
.dark-blue-obj .navbar-brand{
    text-decoration: none;
    color:#b2b1b1;
}
.dropdown .dropdown-toggle{
    color:#19d7f8;
}
.sign-btn{
    text-decoration: none;
    color:#fff;
    border:2px solid transparent;
    border-radius:20px;
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)),radial-gradient(circle at top left, #fd00da,#19d7f8);
    background-origin:border-box;
    background-clip:content-box,border-box;
    transition: all .5s ease-in-out;
    cursor:pointer;
}
.sign-btn span{
    display:block;
    padding: 8px 321312px;
}
.background-obj{
    background-color: 
}
.parallax {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("bg2.jpg");
  min-height: 852px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar{
    max-height:100px;
}
.navbar .navbar-brand{
    font-size: 45px;
}
.nav-item{
    font-size: 20px;
}
.caption {
    position: absolute;
    left: 0;
    top: 37.5%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border{
    background-color: #111;
    color:#fff;
    padding:18px;
    font-size:25px;
    letter-spacing: 7px;
    border-color: #fff;
    border-radius: 8px;
}
.heading-text{
    letter-spacing: 2.5px;
    font-family: 'Lato', sans-serif;
    font-size: 2vw ;
    margin-block-start: 1em; 
    margin-block-end: 1em ;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display:block;
    text-align: center;
}
.img-new{
    display:block;
    width:5vw;
    margin-left: 46.5vw;
}

p{
    font-family: 'Lato', sans-serif;
    font-size: .5vw;
}
.dropdown-toggle{
    color:#00a84f !important;
}
.subtext{
    margin: 40px auto;
    text-align: center !important;
    font-size: 22px;
}
.coding-image{
    display: inline-block;
    text-align: center;
}
.list-image{
    list-style: none;
}

.nav-span-of{
    letter-spacing: 1px !important;
    color:#00a84f !important;
    background:transparent;
    display: block;
    height: 100%;
	transition: background .5s ease;
    align-items: center;
    border-radius: 40px;
}
.nav-link{
    height:100%;
    width:100%;
}

.jlt{
    background:#343a40;
    height: 100%;
    color: #00a84f;
    width:100%;
	transition: background .5s ease;
    display: flex;
	justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.nav-item:hover .jlt{
    background: transparent;
}
.nav-item:hover .nav-span-of{
    color:#343a40 !important;
}
.nav-item:hover .dropdown-toggle{
    color:#343a40 !important;
}
.wavy-text{
   background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
  color: #000;
  text-decoration: none;
    border-bottom: 2px solid #ff9800;
}
.wavy-text:hover{
    border-bottom: 0px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}
.wavy-text-two{
  border-bottom: 1px solid #453886;
  color: #453886;
  padding-bottom: .25em;
  text-decoration: none;
    font-size: 20px;
}
.wavy-text-two:hover{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  color:#453886;
  padding-bottom: .3em;
  text-decoration: none;
}
@-webkit-keyframes move {
from {
    background-position: 2px 19px;
  }
  to {
    background-position: 500px 19px;
  }
}

@keyframe move {
from {
    background-position: 2px 19px;
  }
  to {
    background-position: 500px 19px;
  }
}